.footer {
    color: #fff;
    background-color: #263238;
    padding: 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .social-media-links {
    margin-bottom: 1rem;
  }
  
  .social-media-links i {
    margin: 0 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .social-media-links i:hover {
    transform: scale(1.1);
  }
  
  .footer p {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  
  @media (max-width: 768px) {
    .social-media-links i {
      margin: 0 0.5rem;
    }
  
    .footer p {
      font-size: 1.2rem;
    }
  }
  